@use 'reset.scss';
@use 'fonts.scss';

// colors

$dark-red: #B00000;
$white: #ffff;
$black: #000000;
$dark-grey: #808080;
$light-grey:#D6D4D4;
$text-color:#2E2E2E;

//vertical-spacing
$small-space:8rem;
$medium-space:10.5rem;
$big-space:13.3rem;




:root{
    font-size: 10px;
    font-family: fonts.$font-poppins;
    scroll-behavior: smooth;
}
.main-banner__main-wrapper,
.main-cloud__main-wrapper,
.main-wrapper,
.main-get__main-wraper,
.main-lemon-wares__basic__main-wrapper,
.main-container__main-wrapper,
.menu__main-wrapper,
.main-get__main-wrapper,
.main-cloud1__main-wrapper
{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}





.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
    &__left{
        display: flex;
        align-items: center;
        gap: 7rem;
       

    }
    a{
        text-decoration: none;
    }
    &__list{
        display: flex;
        gap: 3.3rem;
    }
    a:not(.logo){
        color: $black;
        position: relative;
        line-height: 2.5rem;
        font-weight: fonts.$fw-semibold;
        &:hover{
            &::after{
                content: '';
                width: 75%;
                border-bottom: 3px solid $dark-red;
                bottom: -5px;
                left:12.5%;
                right: 12.5%;
                position: absolute;
               
            }
        }
       
    }
    &__right{
        display: flex;
        gap: 3rem;

        a{
            &:last-child{
                display: flex;
                align-items: center;
                gap: 0.6rem;
                border-left:1px solid $dark-grey;
                padding-left: 3rem ;
                &::after{
                    display: none;
                }
            }

        }
    }
}
.menu{
    
    margin-bottom: 2rem;
   
    

    &__ul{
        display: flex;
        gap: 2.5rem;
        width: 20%;
        font-size: 1.5rem;
        font-family: fonts.$font-poppins;
        font-weight: fonts.$fw-semibold;
       li{
        &:hover :not(.menu-active){
            border-bottom: 1px solid #D6D4D4;
        }
       }
        
        
        
        
      

     
    }
    &__not-active{
        color: #D6D4D4E0;
        opacity: 88%;
        text-decoration: none;
        &:hover{
            color: $black;
            font-size: 13px;
        }
    }
    &__active{
        color: $dark-red;
        border-bottom: 3px solid $dark-red;
        text-decoration: none;
    &:hover{
            color: $dark-grey;
        }
    }
  
   

 
}
.main-banner{
    display: flex;
    justify-content: space-between;
    &__main-wrapper{
        display: flex;
    }
    &__img-wrapp{
        position: relative;
        
   
        .arrow-up{
            position: absolute;
            width: 0;
            height: 0;
            top: 74%;
            left: 90%;
            border-style: solid;
            border-width: 0 0 7.2rem 7.2rem;
            border-color: transparent transparent $dark-red transparent;

        }
        .arrow-up1{
            position: absolute;
            width: 0;
            height: 0;
            top: 74%;
            left: 96%;
            border-style: solid;
            border-width: 0 0 7.2rem 7.2rem;
            border-color: transparent transparent #B00000 transparent;
        }
        .arrow-right1{
            position: absolute;
            width: 0;
            height: 0;
            top: 0%;
            left: 33%;
            border-style: solid;
            border-width: 0 0 40px 40px;
            border-color: transparent transparent #B00000 transparent;

        }
        .arrow-bottom{
            position: absolute;
            width: 0;
            height: 0;
            top: 60%;
            right: 97%;
            border-style: solid;
            border-width: 4rem 0 0 4rem;
            border-color: transparent transparent transparent $dark-red;
        }
        .arrow-right{
            position: absolute;
            width: 0;
            height: 0;
            top: 12%;
            left: 97%;
            border-style: solid;
            border-width: 0 0 40px 40px;
            border-color: transparent transparent $dark-red transparent;
        }
       

    }
    &__banner-content h1{
        
            font-family: fonts.$font-poppins;
            font-weight: fonts.$fw-extrabold;
            font-size: 6.4rem;
            line-height: 7.8rem;
            color: #2E2E2E;
            margin-bottom: 3rem;
    }
        &__banner-content p{
            font-family: "Inter", sans-serif;
            font-weight: 400;
            line-height: 2.8rem;
            color: #808080;
            font-size: 1.6rem;
            width: 66%;
            margin-bottom: 6rem;
        }
        .btn{
            display: flex;
            gap: 2.4rem;
            &__red{
                background-color: $dark-red;
                color: $white;
                border-radius: 10px;
                padding: 1.2rem 1.3rem 1.2rem 1.3rem;
                border: none;
                font-size: 14px;
                font-family: fonts.$font-poppins;
                font-weight: fonts.$fw-regular;
                 box-shadow: 0px 0px 64px 0px #B000004D;
                 cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                    background-color: $white;
                    color: $dark-red;
                }
            }
            &__white{
                border: 1px solid black;
                border-radius: 10px;
                background: none;
                padding: 1.2rem 1.8rem 1.2rem 1.8rem;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                    background-color: $dark-red;
                    color: $white;
                    box-shadow: 0px 0px 64px 0px #B000004D;
                    border: none;
                }
            }
        }

 
}

.main-cloud{
    display: flex;
    margin-top: 7rem;
    gap: 10rem;
    justify-content: space-between;


    &__main-wrapper{
        display: flex;
        gap: 10rem;
    }
    &__content h1{
        font-family: fonts.$font-inter;
        font-weight: fonts.$fw-extrabold;
        font-size: 3rem;
        line-height: 6.4rem;
        width: 100%;

    }
    &__content p{
        width: 100%;
        font-family: fonts.$font-inter;
        font-size: 1.5rem;
        font-weight: fonts.$fw-regular;
        line-height: 3rem;
    
    
    }
    &__imd-cont{
        
    }
    &__img-content{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        margin-bottom: 5rem;
    }
    &__img2{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
}
    
}
.main-cloud1{
    display: flex;
    margin-top: 5rem;
    gap: 10rem;
    justify-content: space-between;
    &__main-wrapper{
        display: flex;
        gap: 2rem;
    }

    
    &__content h1{
        font-family: fonts.$font-inter;
        font-weight: fonts.$fw-extrabold;
        font-size: 4rem;
        line-height: 6.4rem;
        width: 100%;

    }
    &__content p{
        width: 100%;
        font-family: fonts.$font-inter;
        font-size: 1.5rem;
        font-weight: fonts.$fw-regular;
        line-height: 3rem;
    
    
    }
    &__imd-cont{
        
    }
    &__img-content{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        margin-bottom: 5rem;
    }
    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 8rem;
}
    
}
.container-hosting{
    margin-top: 7rem;
   &__img-flex{
    display: flex;
    justify-content: space-around;
        
    }

    .fa-solid{
        position: absolute;
        color: $dark-red;
        font-size: 25px;
    }
}
.main-container{
    display: flex;
    gap: 100px;
    flex-direction: column;
    margin-bottom: 10rem;

    &__main-wrapper{
        display: flex; 
        gap:5rem;
    }
    button{
        margin: 0 auto 3rem auto;

}
     h2{
        width: 540px;
        font-size: 36px;
        line-height: 55px;
        color: #2F281E;
        font-weight: 700;
        margin: 0 auto 55px auto;
        text-align: center;
}
 section{
    display: flex;
    gap: 4.6rem;
    margin-top: 5rem;
}
&__flex-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}
&__rounded-box{
    border-radius: 50px;
    background: rgba(176, 0, 0, 0.15);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center ;
    align-content: center;
    align-items: center;
    margin-bottom: 18px;

}

article h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color:#544837;
    margin-bottom: 10px;
}

.fa-solid{
    color: $dark-red;
    font-size: 20px;
}
}













.main-lemon-wares{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
    &__basic__main-wrapper{
       
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            gap: 30rem;
            border-bottom: 2px solid red;
      
    }
    &__container h1{
        width: 78%;
        font-size: 5rem;
        line-height: 55px;
        color: #2F281E;
        font-weight: 600;
        margin: 0 auto 10px auto;
        font-family: fonts.$font-poppins;
        line-height: 6rem;
        text-align: center;        
    }
    &__container p{
        font-family: fonts.$font-poppins;
        font-weight: fonts.$fw-regular;
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: center;
        margin-top: 3rem;
    }

&__toggle{
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    line-height: 2rem;
    font-family: fonts.$font-poppins;
    font-weight: fonts.$fw-regular;

}
&__basic{
   
    font-size: 3rem;
    font-family: fonts.$font-poppins;
    font-weight: fonts.$fw-semibold;
   
}
&__disc{
    border-radius: 20px;
    background: #FFE87A;
    padding: 0.5rem;
    width: 7%;
    font-size: 1rem;
    line-height: 0.9rem;
    font-weight: fonts.$fw-medium;
    display: flex;
    justify-content: center ;
    align-content: center;
    align-items: center;
}
&__toggle-btn{
    margin: 0 1rem;
}
&__checkbox{
    display: none;
}

&__checkbox:checked + .sub{
    justify-content: flex-end;
}
&__cards{
    display: flex;
    width: 79%;
    margin: 0 auto;
    gap: 10rem;
    align-items: center;
    /* align-content: stretch; */
    justify-content: space-around;
}
// .card {

// }
&__card-shadow{
    margin: 1.5rem 2.6rem;
    border: 1px solid $text-color;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 64px 0px #B000004D;

}
&__card-shadow li{
    
    width: 100%;
    padding: 0.6rem 0;
    display: flex;
    gap: 1rem;
}

&__card-shadow li.price{
    font-size: 3rem;
    color: #000000;
    padding-bottom: 1rem;
    font-weight: fonts.$fw-semibold;
}
}
.circle{
    background-color: $white;
    width: 1.4rem;
    border-radius: 50%;
    height: 1.5rem;
}
.pack{
    font-family: fonts.$font-poppins;
    font-weight: fonts.$fw-semibold;
    font-size: 3rem;
    line-height: 2rem;
}
.sub{
    background-color: $dark-red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1.6rem;
    width: 3.3rem;
    padding: 0.5rem;
}
.btn-plan{
    margin-top: 1rem;
    width: 13.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: none;
    padding: 0.7rem 0rem 0.7rem 0rem;
    border: 1px solid $black;
    cursor: pointer;
    &:hover{
        background-color: #B00000;
        color: $white;
    }
}
.bottom-bar{

}
.pack{
    font-size: 1.1rem;
}

.flex{
    display: flex;
    flex-direction: column;
}

.main_article{
    position: absolute;
    /* display: contents; */
    display: flex;
    flex-direction: column;
    left: 17%;
}
.main-quote{
    display: flex;
    position: relative;
    margin-bottom: 2rem;
}
.quote-content{
    position: absolute;
    bottom: 0%;
    left: 14%;
}
.quote-content h1{
    width: 60%;
    font-family: fonts.$font-inter;
    font-weight: fonts.$fw-extrabold;
    font-size: 4rem;
    line-height: 6rem;
}
.main-quote__img{
    display: flex;
    margin: 6rem;
}
.quote-content h1{
    display: flex;
    right: 17%;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.main-div{
    
    &__container{
        display: flex;
        flex-direction: row;
        /* gap: 1rem; */
        /* align-items: center; */
        gap: 2rem; 
        margin-bottom: 2rem;
        padding: 0 25rem 0 25rem;
    }
    &__change{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}
.div1{
    background: #FFFFFF;
    /* Dark Shadow */

    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
    width: 64%;
    margin-bottom: 1rem;
    padding: 3rem;
    p{
        margin-bottom: 1rem;
    }
}
.div2{
    background: #FFFFFF;
    /* Dark Shadow */

    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
    width: 64%;
    padding: 3rem;
    p{
        margin-bottom: 1rem;
    }
}
.div3{
    background: #FFFFFF;
    /* Dark Shadow */

    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
    width: 50%;
    
    padding: 3rem;
    p{
        margin-bottom: 1rem;
    }
}
.main-get {
   &__main-wrapper{
    width: 100%;
        background-color: #F7FAFE;
        overflow: hidden;
   }
    &__content{
        display: flex;
        gap: 4rem;
        /* text-align: center; */
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        padding: 8rem 0px 8rem;;

        h1{
            width: 90%;
            font-family: fonts.$font-poppins;
            font-weight: fonts.$fw-semibold;
            font-size: 6.4rem;
            text-align: center;
            line-height: 8.8rem;
        }
        }
}
.whatsapp-btn{
    display: flex;
    flex-direction: row;
    gap: 0.9;
    gap: 0.9rem;
    border: none;
    color: white;
    padding: 1rem;
    background: #B00000;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
        background-color: $white;
        color: $dark-red;
        box-shadow: 0px 0px 64px 0px #B000004D;
        transform: scale(1.1);
    }
}
.footer{
    background-color: $dark-red;
    &__flex{
        display: flex;
        //padding: 8rem;
        gap: 7rem;
        width: 87%;
  }

    &__flex1{
          width: 26%;
        color: $white;
        font-family: fonts.$font-inter;
        font-weight: fonts.$fw-regular;
        font-size: 1.6rem;
        line-height: 3.2rem;
  
    }

//     &__flexbox{
//         display: flex;
//         gap: 12rem;
//     }
    &__flex2{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 2rem;
        font-weight: fonts.$font-inter;
        font-family: fonts.$fw-bold;
        font-size: 1.6rem;
        line-height: 2.4rem;

        color: $white;
     
    }

//     &__ul-flex{
//         display: flex;
//         flex-direction: column;
//         gap: 2rem;
       
        li a{
            color: #E6E6E6;
            text-decoration: none;
            // width: 100%;
            font-size: 1.6rem;
            font-weight: fonts.$fw-regular;
            font-family: fonts.$font-inter;
            line-height: 3.2rem;

            
           
        }
        li a:hover{
            color: $text-color;
            text-decoration: underline;

            text-transform: lowercase;
            }
        
     

    &__flex3{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 2rem;
        font-weight: fonts.$font-inter;
        font-family: fonts.$fw-bold;
        font-size: 1.6rem;
        line-height: 2.4rem;

        color: $white;

    }
    &__flex4{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 2rem;
        font-weight: fonts.$font-inter;
        font-family: fonts.$fw-bold;
        font-size: 1.6rem;
        margin-bottom: 5rem;
        line-height: 2.4rem;

        color: $white;
    }
    &__flex5{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin-bottom: 9rem;
        gap: 2rem;
        font-weight: fonts.$font-inter;
        font-family: fonts.$fw-bold;
        font-size: 1.6rem;
        line-height: 2.4rem;

        color: $white;
    }
    &__copy{
        color: $white;
        padding:0 8rem 2rem 8rem;
        font-family: fonts.$font-inter;
        font-style: normal;
        font-weight: fonts.$fw-regular;
        font-size: 1.6rem;
    }
    &__ul-flex li{
        margin-bottom: 2rem;
    }
}
// // .li-width{
// //     width: 200%;
// // }
// body {
//     background-color: $dark-red;
// }

@media screen and (max-width:1100px) {
    .navigation{
        padding: 2rem;
    }
    .menu__ul {
        display: flex;
        gap: 2.5rem;
        padding: 2rem;
        width: 93%;
        font-size: 1.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .main-banner__banner-content h1{
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-size: 3.4rem;
        /* line-height: 7.8rem; */
        color: #2E2E2E;
        margin-bottom: 3rem;
        text-align: center;

    }
    .main-banner__img-wrapp .arrow-right {
        position: absolute;
        width: 0;
        height: 0;
        max-width: 100%;
        width: -2%;
        top: 12%;
        left: 99%;
        border-style: solid;
        border-width: 0 0 40px 40px;
        border-color: transparent transparent #B00000 transparent;
    }
    .img-banner{
        margin: 5%;
    }
    .main-banner .btn {
        display: flex;
        gap: 2.4rem;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 6rem;
    }
    .main-container__main-wrapper {
        display: flex;
        gap: 5rem;
        margin: 0 auto;
        padding: -12rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
    }
    .main-lemon-wares__basic__main-wrapper {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 30rem;
        /* border-bottom: 2px solid red; */
    }
    .main-lemon-wares__cards {
        display: flex;
        width: 79%;
        margin: 0 auto;
        gap: 10rem;
        align-items: center;
        /* align-content: stretch; */
        justify-content: space-around;
        flex-direction: column;
    }
    .main-cloud__content p {
        width: 100%;
        font-family: "Inter", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        line-height: 3rem;
    }
    .main-cloud__content h1 {
        font-family: "Inter", sans-serif;
        font-weight: 800;
        font-size: 3rem;
        line-height: 6.4rem;
        width: 100%;
        text-align: center;
    }
    .main-banner__main-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .main-banner__main-wrapper{
        display: flex;
        flex-direction: column-reverse;
    }
    .main-banner__img-wrapp .arrow-up {
        position: absolute;
        width: 0;
        height: 0;
        top: 74%;
        left: 95%;
        border-style: solid;
        border-width: 0 0 7.2rem 7.2rem;
        border-color: transparent transparent #B00000 transparent;
    }
    .main-banner__img-wrapp .arrow-bottom {
        position: absolute;
        width: 0;
        height: 0;
        top: 60%;
        right: 91%;
        border-style: solid;
        border-width: 4rem 0 0 4rem;
        border-color: transparent transparent transparent #B00000;
    }
    .navigation {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        gap: 3rem;
        margin-top: 4rem;
        margin-bottom: 8rem;
        flex-direction: column;
    }
    .main-banner__banner-content p {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    // .main-cloud1__main-wrapper {
    //     display: flex;
    //     gap: 2rem;
    //     flex-direction: column-reverse;
    // }
    // .main-cloud1__content p {
    //     width: 100%;
    //     font-family: "Inter", sans-serif;
    //     font-size: 1.5rem;
    //     font-weight: 400;
    //     line-height: 3rem;
    //     text-align: center;
    //     margin-bottom: 2rem;
    // }
    // .main-cloud1__content h1 {
    //     font-family: "Inter", sans-serif;
    //     font-weight: 800;
    //     font-size: 4rem;
    //     text-align: center;
    //     line-height: 6.4rem;
    //     width: 100%;
    // }
    .footer__flex {
        display: flex;
        /* padding: 8rem; */
        gap: 7rem;
        width: 87%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .main-banner__img-wrapp .arrow-up1 {
        position: absolute;
        width: 0;
        height: 0;
        top: 74%;
        left: 87%;
        border-style: solid;
        border-width: 0 0 7.2rem 7.2rem;
        border-color: transparent transparent #B00000 transparent;
    }
}

@media screen and (max-width:880px) {
    .main-cloud__main-wrapper {
        display: flex;
        gap: 10rem;
        flex-direction: column-reverse;
    }
    
}
@media screen and(max-width:770px) {
    .main-cloud1__main-wrapper {
        display: flex;
        gap: 2rem;
        flex-direction: column-reverse;
    }    
}
@media screen and (max-width:690px) {
    .main-div__container {
        display: flex;
        flex-direction: column;
        /* gap: 1rem; */
        /* align-items: center; */
        gap: 2rem;
        margin-bottom: 2rem;
         padding: 0 0 0 0; 
    }
    
}
@media screen and(max-width:620px) {
    .img-banner{
        width: 80%;
    }
    .main-banner__img-wrapp .arrow-up {
        position: absolute;
        width: 0;
        height: 0;
        top: 74%;
        left: 78%;
        border-style: solid;
        border-width: 0 0 7.2rem 7.2rem;
        border-color: transparent transparent #B00000 transparent;
    }
    .main-banner__img-wrapp .arrow-right {
    position: absolute;
    width: 0;
    height: 0;
    max-width: 100%;
    width: -2%;
    top: 12%;
    left: 81%;
    border-style: solid;
    border-width: 0 0 40px 40px;
    border-color: transparent transparent #B00000 transparent;
}

}
@media screen and (max-width:590px) {
    .main-banner__banner-content h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-size: 2.4rem;
        /* line-height: 7.8rem; */
        color: #2E2E2E;
        margin-bottom: 3rem;
        text-align: center;
    }
    .menu__ul {
        display: flex;
        gap: 2.5rem;
        padding: 2rem;
        width: 71%;
        font-size: 1.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
    }
    .main-cloud__img2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        flex-direction: column;
    }
    .main-cloud__img-content {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        margin-bottom: 5rem;
        flex-direction: column;
    }
    .main-lemon-wares__toggle {
        margin-top: 2rem;
        margin-bottom: 3.5rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: center;
        align-content: center;
        font-size: 2rem;
        line-height: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        flex-direction: column;
    }
    .main-lemon-wares__basic__main-wrapper {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 30rem;
        border-bottom: 2px solid red;
        flex-direction: column;
    }
    .main-cloud1__img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* gap: 8rem; */
    }
    .main-cloud1__img-content {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        /* gap: 8rem; */
        margin-bottom: 5rem;
        flex-direction: column;
    }
    
}
@media screen and(max-width:345px) {
    .main-banner__img-wrapp .arrow-right {
        position: absolute;
        width: 0;
        height: 0;
        max-width: 100%;
        width: -2%;
        top: 12%;
        left: 77%;
        border-style: solid;
        border-width: 0 0 40px 40px;
        border-color: transparent transparent #B00000 transparent;
    }
    .main-banner__img-wrapp .arrow-up {
        position: absolute;
        width: 0;
        height: 0;
        top: 64%;
        left: 68%;
        border-style: solid;
        border-width: 0 0 7.2rem 7.2rem;
        border-color: transparent transparent #B00000 transparent;
    }
    .main-banner__img-wrapp .arrow-bottom {
        position: absolute;
        width: 0;
        height: 0;
        top: 60%;
        right: 85%;
        border-style: solid;
        border-width: 4rem 0 0 4rem;
        border-color: transparent transparent transparent #B00000;
    }
    .navigation {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        gap: 3rem;
        margin-top: 4rem;
        margin-bottom: 8rem;
        flex-direction: column;
    }
}
@media screen and (max-width:250px) {
    .main-banner__img-wrapp .arrow-right {
        position: absolute;
        width: 0;
        height: 0;
        max-width: 100%;
        width: -2%;
        top: 12%;
        left: 75%;
        border-style: solid;
        border-width: 0px 0 33px 33px;
        border-color: transparent transparent #B00000 transparent;
    }
    .main-banner__img-wrapp .arrow-bottom {
        position: absolute;
        width: 0;
        height: 0;
        top: 60%;
        right: 83%;
        border-style: solid;
        border-width: 3rem 0 0 3rem;
        border-color: transparent transparent transparent #B00000;
    }
    .main-banner__img-wrapp .arrow-up {
        position: absolute;
        width: 0;
        height: 0;
        top: 64%;
        left: 68%;
        border-style: solid;
        border-width: 0px 0 5.2rem 5.2rem;
        border-color: transparent transparent #B00000 transparent;
    }
    
}